#header {
    /* transition: background-image 3s ease-in-out; */
    
      -webkit-transition: all 0.5s ease-in;
      -moz-transition: all 0.5s ease-in;
      -ms-transition: all 0.5s ease-in;
      -o-transition: all 0.5s ease-in;
      transition: all 0.5s ease-in;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center center;
      color: white;
      height: 100%;
      width: 100%;
    
}


/* .bg-1 {
    background-image: url("../../public_html/assets/images/podajlapsie_01.webp");
}
.bg-2 {
    background-image: url("../../public_html/assets/images/podajlapsie_02.webp");
}
.bg-3 {
    background-image: url("../../public_html/assets/images/podajlapsie_04.webp");
}
.bg-4 {
    background-image: url("../../public_html/assets/images/podajlapsie_06.webp");
}
.bg-5 {
    background-image: url("../../public_html/assets/images/podajlapsie_07.webp");
}
.bg-6 {
    background-image: url("../../public_html/assets/images/podajlapsie_15.webp");
}
.bg-6 {
    background-image: url("../../public_html/assets/images/podajlapsie_16.webp");
} */
